* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; }

ul {
  list-style: none; }

body {
  width: 320px;
  background-color: #0b0c1b; }
  body .error-msg {
    background-color: rgba(206, 90, 76, 0.8);
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    color: #fff;
    display: none;
    transition: .8s; }
  body .success-msg {
    background-color: rgba(118, 212, 114, 0.8);
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    color: #fff;
    display: none;
    transition: .8s; }
  body .com-ctx.swiper-wrapper {
    box-sizing: border-box; }
  body .com-ctx .default-part.swiper-slide {
    width: 100% !important; }
  body .com-header {
    padding: 12px; }
    body .com-header span {
      display: inline-block;
      vertical-align: middle; }
      body .com-header span.pd-name {
        color: #eee;
        font-weight: 600;
        font-size: 16px;
        margin-left: 4px; }
      body .com-header span.pd-logo img {
        display: block;
        width: 20px; }
      body .com-header span.pd-setting {
        float: right;
        margin-top: 2px;
        cursor: pointer; }
        body .com-header span.pd-setting img {
          display: block;
          width: 16px; }
      body .com-header span.pd-back {
        cursor: pointer; }
        body .com-header span.pd-back img {
          display: block;
          width: 18px; }
  body .base-data-card {
    display: flex;
    padding: 12px 12px 0 12px; }
    body .base-data-card.last-child {
      padding-bottom: 12px; }
    body .base-data-card .com-card {
      padding: 8px 10px; }
      body .base-data-card .com-card .card-title {
        font-size: 12px;
        line-height: 1;
        color: #9e8102; }
    body .base-data-card .all-click {
      flex: 1;
      height: 56px;
      border-radius: 4px;
      margin: 0 4px 0 0px;
      background-color: #583df2; }
    body .base-data-card .target-click {
      flex: 1;
      height: 56px;
      border-radius: 4px;
      margin: 0 4px 0 0px;
      background-color: #ffa6d0; }
    body .base-data-card .all-impression {
      flex: 1;
      height: 56px;
      border-radius: 6px;
      margin: 0 0px 0 6px;
      background-color: #f6c163; }
    body .base-data-card .target-impression {
      flex: 1;
      height: 56px;
      border-radius: 6px;
      margin: 0 0px 0 6px;
      background-color: #dcde49; }
    body .base-data-card .card-value {
      color: #fff;
      font-size: 20px;
      text-align: right;
      margin-top: 5px; }
  body .com-title {
    background-color: rgba(255, 255, 255, 0.08);
    height: 24px;
    line-height: 24px;
    padding: 0 18px;
    color: #fff;
    display: flex;
    justify-content: space-between; }
    body .com-title .add-btn {
      cursor: pointer; }
  body .default-part .gender-statistics {
    color: #fff;
    padding: 0 16px;
    height: 24px;
    line-height: 24px; }
  body .default-part #gender-chart {
    height: 120px; }
  body .default-part #age-chart {
    height: 220px;
    padding: 0 14px; }
  body .setting-part .com-header {
    padding: 12px; }
  body .setting-part .setting-list ul li {
    height: 36px;
    line-height: 36px;
    color: #fff;
    padding-left: 18px;
    padding-right: 12px;
    display: flex; }
    body .setting-part .setting-list ul li:hover {
      background-color: #583df2; }
    body .setting-part .setting-list ul li .item-name {
      flex: 1; }
    body .setting-part .setting-list ul li .switch-btn {
      width: 32px;
      height: 18px;
      background-color: #ccc;
      border-radius: 9px;
      display: inline-block;
      vertical-align: middle; }
      body .setting-part .setting-list ul li .switch-btn.actived {
        background-color: #76d472; }
        body .setting-part .setting-list ul li .switch-btn.actived .switch-circle {
          margin-left: 15px; }
      body .setting-part .setting-list ul li .switch-btn .switch-circle {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: #fff;
        display: block;
        margin-top: 1px;
        margin-left: 1px;
        cursor: pointer;
        box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.3);
        transition: .3s; }
    body .setting-part .setting-list ul li .item-btn {
      height: 18px;
      padding: 0 6px;
      border: 1px solid #9e8102;
      line-height: 16px;
      color: #9e8102;
      border-radius: 9px;
      margin-top: 9px;
      margin-left: 8px;
      cursor: pointer; }
  body .setting-part .target-list ul li, body .setting-part .hot-map-list ul li {
    display: flex;
    height: 36px;
    line-height: 36px;
    padding-left: 18px;
    padding-right: 4px; }
    body .setting-part .target-list ul li input, body .setting-part .target-list ul li select, body .setting-part .hot-map-list ul li input, body .setting-part .hot-map-list ul li select {
      border: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      flex: 1;
      color: #fff; }
    body .setting-part .target-list ul li .close-icon, body .setting-part .hot-map-list ul li .close-icon {
      padding: 0 8px;
      color: #fff;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
