$color-g0: #000;
$color-g1: #111;
$color-g2: #222;
$color-g3: #333;
$color-g4: #444;
$color-g5: #555;
$color-g6: #666;
$color-g7: #777;
$color-g8: #888;
$color-g9: #999;
$color-ga: #aaa;
$color-gb: #bbb;
$color-gc: #ccc;
$color-gd: #ddd;
$color-ge: #eee;
$color-gf: #fff;

$bg-color: #0b0c1b;
$color-pp: #583df2;
$color-yl: #f6c163;
$color-gold: #9e8102;
$color-green: #76d472;
$color-pink: #ffa6d0;
$color-red: #ce5a4c;
$color-lgreen: #dcde49;